.penaltyCheckForm {
  .input-group-addon {
    padding: 0px 10px;
    color: #3e3e3e;
    .fa {
      font-size: 1.2em;
    }
  }
  .carNumberCountryTitle {
    display: block;
    font-size: 0.8em;
  }
}